@font-face {
  font-family: SedgwickAve;
  src: url('../fonts/SedgwickAve-Regular.ttf');
  font-weight: 400;
  display: block;
}

@font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto-Regular.ttf');
  font-weight: 600;
  display: block;
}

body {
  font-family: Roboto;
  width: 100%;
  font-size: 1rem;
  font-size: 30px;
}

* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}
