@font-face {
  font-family: Roboto;
  src: url('~@/assets/fonts/Roboto-Regular.ttf');
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: Sedgwick;
  src: url('~@/assets/fonts/SedgwickAve-Regular.ttf');
  font-weight: 500;
}

body {
  font-family: Roboto;
  width: 100%;
  overflow-x: hidden;
  font-size: 1rem;
  padding-bottom: 10.9rem;
  font-size: 16px;
  background-color: color('background');
}

* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  &:focus {
    outline: none;
  }
}

hr {
  color: color('menu-item', 'price');
  border-style: dashed;
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-width: 1px;
}
